[Desktop Entry]
Name=Avidemux
GenericName=Video Editor
Comment=Multiplatform video editor
Exec=avidemux3_qt5
MimeType=video/mpeg;video/quicktime;video/x-msvideo;video/x-anim;audio/x-mp3;audio/x-mp2;
Icon=org.avidemux.Avidemux
Terminal=false
Type=Application
Categories=AudioVideo
